#header{

}
#content{

}
.panel-body{
   // height: 700px;
}
#footer{

}
#ff{
float: right;
   margin-top: 8px;
}
#enter {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}
#r_home{
    margin-right: 10px;
}
#doppanel{
    width: 80%;
    margin-left: 10%;
}
#content_login{
    width: 50%;
    margin-left: 25%;
}
.panel-heading{
    font-size: 15;
    font-size: medium;
    font-weight: bold;
}
.form-control{
  margin-bottom: 7px;
}

